body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Adiciona esta linha para permitir o posicionamento absoluto da logo */
}

canvas {
    position: absolute;
}

.footer-logo {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
    z-index: 1000; /* Para garantir que a logo fique acima de outros elementos */
}

.footer-logo img {
    width: 300px; /* Ajuste conforme necessário */
    height: auto;
}
